:root {
    --font-color: black;
    --background-color: pink;
}

.logo {
    margin: 15px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}
.menu li {
    padding: 10px;
}

.login_btn {
    padding: 5px;
    margin-right: 20px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}